<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
            <ion-back-button text="Voltar" defaultHref="tabs/teste"></ion-back-button>
        </ion-buttons> -->
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="superior">
        <!-- <h1>Perfil</h1> -->

        <div class="row" style="align-itens: center;">
            <ion-avatar>
                <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <div class="ion-text-center">
                <h3 class="nome">Roger Goyer</h3>
            </div>
        </div>
    </div>

    <ion-item button>
        <ion-label>Informações Pessoais</ion-label>
    </ion-item>
    <ion-item button>
        <ion-label>Configurações</ion-label>
    </ion-item>
    <ion-item button>
        <ion-label>Conquistas</ion-label>
    </ion-item>
    <ion-item button>
        <ion-label>Desconectar</ion-label>
    </ion-item>

</ion-content>
